

body {
    font: Arial;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #232526, #414345);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
    
}

.backgroundh1{
  justify-content: center;
  align-items: center;
  margin: 60px;
  margin-left: 90px;
  border-radius: 10px;
}
.background{
  justify-content: center;
  align-items: center;
  margin: 100px;
  margin-left: 90px;
  border-radius: 10px;
  background: linear-gradient(to right, #16222a, #3a6073);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }

  
}

p{
    text-align: left;
    margin-left: 95px;
    font-family: Arial;
    color: white;
   
}


h1 {
    color: white;
    font: Arial ;
}
h2 {
  color: white;
  font: Arial ;
  margin-top: 5px;
}



input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.backgroundbutton {
  font-family: Arial;
  width: 30%;
  color: #f0f0f0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(to right, #16222a, #3a6073);
  
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
   
}

.forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  color: white;
  max-height: 300px; 
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #16222a, #3a6073);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.forecast-item {

  padding: 10px;
  justify-content: center;
  color: white;
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #16222a, #3a6073);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.wetter-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; 
}


.wetter-icon-container img {
  width: 50px; 
  height: 50px; 
  
}




  

 


