body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;

    align-items: center;
    height: 100vh; /* 100% der Bildschirmhöhe nutzen */
    flex-direction: column; /* Elemente in vertikaler Ausrichtung zentrieren */
}

h1 {
    color: #333;
}


label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

input[type="text"],
input[type="email"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    width: 40%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

